**/target
**/*.launch
**/*.mpr.lock
**/.mendix-cache
**/proxies
**/*.svn
**/modeler-merge-marker
**/.mendix-cache
**/*.mpr.bak
**/*.mpr.left*
**/*.mpr.right*
#mxgit-marker-start
**/.svn
**/modeler-merge-marker
**/.mendix-cache
**/.mpr.lock
**/.mpr.bak
**/.mpr.left*
**/.mpr.right*
**/.settings
**/deployment
**/releases
**/.launch
**/.classpath
**/.project
javasource/system
javasource/encryption
javasource/administration
javasource/atlas_ui_resources
javasource/main_app
theme
widgets
**/*.mpr
**/GPUCache
**/*.DS_Store
**/*.core.prefs
**/userlib
